@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: corporate --default, forest --prefersdark;
}

.text-gradient {
  @apply w-fit text-transparent bg-clip-text bg-linear-to-r from-[#9333EA] to-[#2663EB]
}

.bg-gradient {
  @apply bg-linear-to-r from-[#9333EA] to-[#2663EB]
}

body {
  font-family: "Lato", sans-serif;
  @apply scroll-smooth
}

.my-btn {
  @apply btn text-white border-none bg-linear-to-r from-[#9333EA] to-[#2663EB] hover:brightness-110 active:scale-95
}

[data-theme="corporate"] {
  --color-primary: #2663EB;
  --color-secondary: #9333EA;
  --color-accent: gray;

  .register-btn-text {
    @apply text-black hover:text-white
  }


  /* .partner-details {
    background-color: rgba(128, 0, 128, 0.016); */
  /* opacity: 20; */
  /* @apply bg-purple-50
  } */
}

[data-theme="forest"] {
  --color-primary: #2663EB;
  --color-secondary: #9333EA;
  --color-accent: gray;

  .register-btn-text {
    @apply text-white hover:text-white
  }

  /* .partner-details {
    background-color: rgba(0, 5, 109, 0.153);
    @apply bg-black/70
  } */
}